<#import "/spring.ftl" as spring/>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teacher</title>
</head>
<body>
<div>
  <h2>Update teacher</h2>
  <div>
    <div>
      <@spring.bind "teacher"/>
      <form action="/teachers/${teacher.id?string('000000000')}" method="post">
      <div>
        <div>
          Id: ${teacher.id?string("0000000")}
        </div>
        <div>
          Name:
          <@spring.formInput "teacher.name"/>
          <@spring.showErrors "<br>"/>
        </div>
        <div>
          Teacheral id:
          <@spring.formInput "teacher.idNumber"/>
          <@spring.showErrors "<br>"/>
        </div>
        <div>
          Country:
          <select>
            <#list countries! as country>
            <option value="${country.id}">${country.name}</option>
          </#list>
          </select>
        </div>

      </div>
      <div>
        <div>
          <input type="submit" value="Update Teacher">
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
