<#import "/spring.ftl" as spring/>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student</title>
</head>
<body>
<div>
    <h2>Update student</h2>
    <div>
        <div>
            <@spring.bind "student"/>
            <form action="/students/${student.id?string('000000000')}" method="post">
            <div>
                <div>
                    Id: ${student.id?string("0000000")}
                </div>
                <div>
                    Name:
                    <@spring.formInput "student.name"/>
                    <@spring.showErrors "<br>"/>
                </div>
                <div>
                    Studental id:
                    <@spring.formInput "student.idNumber"/>
                    <@spring.showErrors "<br>"/>
                </div>
                <div>
                    Country:
                    <select>
                        <#list countries! as country>
                        <option value="${country.id}">${country.name}</option>
                    </#list>
                    </select>
                </div>

            </div>
            <div>
                <div>
                    <input type="submit" value="Update Student">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
