
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">School Management APP</a>
  <button class="navbar-toggler"
          data-toggle="collapse"
          data-target="#nb">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="nb" class="navbar-collapse collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/students/all">Students</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/teachers/all">Teachers</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/subjects/all">Subjects</a>
      </li>
    </ul>
  </div>
</nav>

</body>
</html>